---
import Icons from '../Icons';

const { siteTitle, siteTitleHref } = Astro.props;
const match = Astro.url.pathname.match(/^\/[^/]+/);
let pageHref = match ? match[0] : '';
let pageTitle = siteTitle;

switch (pageHref) {
  case '/user-guide':
    pageTitle = 'User Guide';
    break;
  case '/tutorials':
    pageTitle = 'Tutorial Videos';
    break;
  case '/api-reference':
    pageTitle = 'API Reference';
    break;
  default:
    break;
}
---

<div class="site-title sl-flex">
  <a href={siteTitleHref} aria-label="NUS Digital Twin">
    <Icons.Logo height="1.75rem" width="1.75rem" />
  </a>
  <svg xmlns="http://www.w3.org/2000/svg" height="1.25rem" width="1.25rem" viewBox="0 0 15 15">
    <path
      opacity="0.35"
      fill="currentColor"
      fill-rule="evenodd"
      d="M4.109 14L9.466 1h1.352L5.46 14z"
      clip-rule="evenodd"
    >
    </path>
  </svg>
  <a href={pageHref}>
    {pageTitle}
  </a>
</div>

<style>
  .site-title {
    align-items: center;
    display: flex;
    gap: 4px;
    font-size: var(--sl-text-h6);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Figtree Variable', system-ui, sans-serif;

    a {
      display: flex;
      text-decoration: none;
      color: var(--sl-color-white);
      transition: transform 150ms;
    }

    a:hover {
      transform: translateY(-4px);
    }
  }
  img {
    height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: 0 50%;
  }
</style>
