---
import Icons from '../Icons';
import GuideDropdown from './GuideDropdown';

const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
const match = Astro.url.pathname.match(/^\/[^/]+/);
let pageHref = match ? match[0] : '';
let pageTitle = siteTitle;

switch (pageHref) {
  case '/user-guide':
    pageTitle = 'User Guide';
    break;
  case '/dev-guide':
    pageTitle = 'Developer Guide';
    break;
  case '/tutorials':
    pageTitle = 'Tutorial Videos';
    break;
  case '/api-reference':
    pageTitle = 'API Reference';
    break;
  default:
    break;
}

if (Astro.response.status === 404) {
  (pageTitle = siteTitle), (pageHref = siteTitleHref);
}
---

<div class:list={['flex', 'gap-1', 'items-center', 'font-bold', 'font-title']}>
  <a
    href={siteTitleHref}
    aria-label="NUS Digital Twin"
    class:list={['flex', 'transition-transform', 'hover:-translate-y-1']}
  >
    <Icons.Logo className="size-7" />
  </a>
  <svg xmlns="http://www.w3.org/2000/svg" height="1.25rem" width="1.25rem" viewBox="0 0 15 15">
    <path
      opacity="0.35"
      fill="currentColor"
      fill-rule="evenodd"
      d="M4.109 14L9.466 1h1.352L5.46 14z"
      clip-rule="evenodd"
    >
    </path>
  </svg>
  <GuideDropdown label={pageTitle} client:load />
</div>
<style is:inline>
  .dropdown-trigger {
    display: flex;
    background: none;
    border: none;
    padding: 0.5rem 0;
    align-items: center;
    gap: 0.5rem;
    color: var(--sl-color-white);
    cursor: pointer;

    svg {
      color: var(--sl-color-white);
    }

    &:hover,
    &[data-state='open'] {
      color: var(--sl-color-gray-2);

      svg {
        color: var(--sl-color-gray-2);
      }
    }
  }
</style>
