/* ==========================================================================
   BASE
   Contains the variables, breakpoints and styles for some elements.
   Colors are specified in RGB values.
   ========================================================================== */

$xs: 378px;
$sm: 448px;
$md: 878px;

:root {
  --menu-left-width: 218px;
  --bottom-bar-height: 28px;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;

  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-base: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;

  --rounded-xs: 8px;
  --rounded-sm: 12px;
  --rounded-base: 16px;
  --rounded-lg: 20px;
  --rounded-xl: 24px;

  --btn-xs: 1.75rem;
  --btn-sm: 2rem;
  --btn-md: 2.25rem;
  --btn-lg: 2.5rem;
  --btn-xl: 2.75rem;

  --content-gap: 12px;
  --container-gap: 2px;
  --container-y-offset: 8px;
  --container-x-offset: 24px;

  --base-100: 28, 28, 28;
  --base-200: 84, 84, 84;
  --base-300: 169, 169, 169;
  --base-content: 245, 245, 245;

  --primary-100: 24, 51, 139;
  --primary-200: 52, 108, 250;
  --primary-300: 96, 165, 250;

  --green: 22, 163, 74;

  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body,
html {
  margin: 0;
  padding: 0;
  color: rgba(var(--base-content));
  font-size: var(--text-base);
}

* {
  box-sizing: border-box;
  font-family: 'Inter Variable', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 625;
  font-family: 'Figtree Variable', system-ui, sans-serif;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-base);
}

a:focus-visible {
  outline: rgba(var(--primary-300)) 2px solid;
}

p,
button {
  margin: 0;
  padding: 0;
}

mark {
  font-weight: 700;
  color: currentColor;
  background-color: transparent;
}

@mixin bg-base {
  background-color: rgba(var(--base-100), 0.8);
  backdrop-filter: saturate(140%) blur(4px);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

@mixin dropdown-base {
  border: 1px solid rgba(var(--base-200), 0.4);
  border-radius: var(--rounded-xs);
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: 10;
}

// Override the margin on inputs caused by Cesium
input {
  margin: 0 !important;
}

.ScrollAreaRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  --overlay-size: 2.5rem;

  &.overlay-top {
    mask-image: linear-gradient(180deg, transparent, #000 var(--overlay-size), #000 100%, transparent);
  }

  &.overlay-bottom {
    mask-image: linear-gradient(180deg, transparent, #000 1px, #000 calc(100% - var(--overlay-size)), transparent);
  }

  &.overlay-bottom.overlay-top {
    mask-image: linear-gradient(
      180deg,
      transparent,
      #000 var(--overlay-size),
      #000 calc(100% - var(--overlay-size)),
      transparent
    );
  }
}

.ScrollAreaScrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  background: transparent;
  border-radius: var(--rounded-base);
  transition: background 150ms ease-out;

  &:hover {
    background: rgba(var(--base-100));
  }

  &[data-orientation='vertical'] {
    width: var(--scrollbar-size);
    height: 100%;
  }
}

.ScrollAreaThumb {
  flex: 1;
  background: rgba(var(--base-300), 0.7);
  border-radius: var(--scrollbar-size);
  position: relative;
}

.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}
