/* ==========================================================================
   BASE
   Contains the variables, breakpoints and styles for some elements.
   Colors are specified in RGB values.
   ========================================================================== */

$xs: 378px;
$sm: 448px;
$md: 878px;
$lg: 1252px;

@mixin property($variable: variable, $syntax: '<number>', $inherits: true, $initial-value: 0) {
  @property --#{$variable} {
    syntax: $syntax;
    inherits: $inherits;
    initial-value: $initial-value;
  }
}

:root {
  --menu-left-width: 218px;
  --bottom-bar-height: 28px;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;

  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-base: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;

  --rounded-xs: 8px;
  --rounded-sm: 12px;
  --rounded-base: 16px;
  --rounded-lg: 20px;
  --rounded-xl: 24px;

  --btn-xs: 1.75rem;
  --btn-sm: 2rem;
  --btn-md: 2.25rem;
  --btn-lg: 2.5rem;
  --btn-xl: 2.75rem;

  --content-gap: 12px;
  --container-gap: 2px;
  --container-y-offset: 8px;
  --container-x-offset: 24px;
  --menu-left-height: 72vh;

  --base-100: 28, 28, 28;
  --base-200: 84, 84, 84;
  --base-300: 169, 169, 169;
  --base-content: 245, 245, 245;

  --primary-100: 24, 51, 139;
  --primary-200: 52, 108, 250;
  --primary-300: 96, 165, 250;

  --green: 22, 163, 74;
  --amber: 217, 119, 6;
  --yellow: 250, 204, 21;

  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body,
html {
  margin: 0;
  padding: 0;
  color: rgba(var(--base-content));
  font-size: var(--text-base);
}

* {
  box-sizing: border-box;
  font-family: 'Inter Variable', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 625;
  font-family: 'Figtree Variable', system-ui, sans-serif;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-base);
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

ul {
  margin: 0;
  padding-left: 0;

  > li + li {
    margin-top: 4px;
  }
}

.list--bullet {
  > li::before {
    content: '•';
    font-size: var(--text-xs);
  }
}

kbd {
  font-size: var(--text-sm);
  background: rgba(var(--base-100), 0.8);
  margin: 1px 4px;
  box-shadow: 0 0 0 1px rgba(var(--base-300), 0.6);
  padding: 0 var(--padding-xs);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

a:focus-visible {
  outline: rgba(var(--primary-300)) 2px solid;
}

p,
button {
  margin: 0;
  padding: 0;
}

mark {
  font-weight: 700;
  color: currentColor;
  background-color: transparent;
}

@mixin bg-base {
  background-color: rgba(var(--base-100), 0.8);
  backdrop-filter: saturate(140%) blur(4px);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

@mixin dropdown-base {
  border: 1px solid rgba(var(--base-200), 0.4);
  border-radius: var(--rounded-xs);
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: 10;
}

// Override the margin on inputs caused by Cesium
input {
  margin: 0 !important;
}
