/* ==========================================================================
   BASE
   Contains the variables, breakpoints and styles for some elements.
   Colors are specified in RGB values.
   ========================================================================== */

:root {
  --menu-left-width: 218px;

  --content-gap: 12px;
  --container-gap: 2px;
  --container-y-offset: 8px;
  --container-x-offset: 24px;
  --menu-left-height: 72vh;

  --base-100: 28, 28, 28;
  --base-200: 84, 84, 84;
  --base-300: 169, 169, 169;
}

.list--bullet {
  > li::before {
    content: '•';
    font-size: var(--text-xs);
  }
}

@mixin dropdown-base {
  border: 1px solid rgba(var(--base-200), 0.4);
  border-radius: var(--radius-lg);
  backdrop-filter: saturate(120%) blur(8px);
  background-color: rgba(var(--base-100), 0.7);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: 10;
}

// Override the margin on inputs caused by Cesium
input {
  margin: 0 !important;
}
