.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--base-bg-100);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;

  input[type='radio'] {
    display: none;
  }

  label {
    width: 100%;
    padding: 9px 0;
    border-radius: 8px;
    transition: background-color 150ms;
    cursor: pointer;
  }

  input[type='radio']:hover + label {
    background-color: var(--base-content-300);
  }

  input[type='radio']:checked + label {
    background-color: var(--primary-200);
  }
}
