@mixin btn {
  border: none;
  color: rgba(var(--base-content));
  cursor: pointer;
  padding: var(--padding-xs);
  background: none;
  font-size: var(--text-base)
}

.btn {
  @include btn;
}

.btn-square {
  @include btn;
  height: 32px;
  width: 32px;
}

.btn-rounded {
  @include btn;
  border-radius: 100%;
}

.btn-secondary {
  @include btn;
  backdrop-filter: saturate(120%) blur(4px);
  -webkit-backdrop-filter: saturate(120%) blur(4px);
  background-color: rgba(var(--base-200), 0.5);
  transition: background-color 150ms;

  &:hover {
    background-color: rgba(var(--base-200), 1);
  }
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: rgba(var(--base-200), 0.5);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;

  input[type='radio'] {
    display: none;
  }

  button {
    @include btn;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    transition: background-color 150ms;
  }

  button:hover {
    background-color: rgba(var(--base-200));
  }

  button.active {
    background-color: var(--primary-200);
  }
}
