.carousel {
  position: relative;
}

.carousel-content {
  overflow: hidden;
}

.carousel-content-container {
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
  min-width: 0;
  height: 200px;
}

.carousel-actions {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
