/* ==========================================================================
   CESIUM
   Contains the styles for Cesium default elements such as the
   timeline and toolbar.
   ========================================================================== */

#cesiumContainer {
  height: 100dvh;
  max-height: 100%;
}

div.cesium-viewer-timelineContainer {
  width: 100%;
  top: 0;
}

div.cesium-timeline-bar {
  background: none;
  @include bg-base;
}

div.cesium-viewer-toolbar {
  bottom: 1px;
  left: 8px;
  top: unset;
}

div.cesium-viewer-bottom {
  bottom: 1px !important;
  left: 8px !important;
  z-index: 1;

  img {
    width: 100px;
  }
}

.cesium-viewer div.cesium-widget-credits {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.cesium-timeline-main {
  border: none;
}
