/* ==========================================================================
   CESIUM
   Contains the styles for Cesium default elements such as the
   timeline and toolbar.
   ========================================================================== */

div.cesium-credit-lightbox-overlay {
  background-color: transparent;
  backdrop-filter: saturate(120%) blur(6px);
  animation: fadeIn 150ms var(--ease-in-out-sine);
}

div.cesium-credit-lightbox.cesium-credit-lightbox-expanded,
div.cesium-credit-lightbox.cesium-credit-lightbox-mobile {
  background-color: rgba(var(--base-100), 0.8);
  backdrop-filter: saturate(140%) blur(4px);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  border: none;
  border-radius: var(--rounded-base);
  padding: var(--padding-xl);
  animation: scaleIn 150ms var(--ease-in-out-sine);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;

  ul {
    padding: 0;
    font-size: var(--text-sm);
  }
}

div.cesium-credit-lightbox.cesium-credit-lightbox-mobile {
  width: 90vw;
  height: max-content;
  max-width: 450px;
  max-height: 85vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: none;
}

.cesium-credit-lightbox-close {
  display: none;
}

div.cesium-credit-lightbox-title {
  font-family: 'Figtree Variable', system-ui, sans-serif;
  font-weight: 625;
  padding: 0;
  margin-bottom: 12px;
  font-size: var(--text-2_5xl);
}

div.cesium-viewer-timelineContainer {
  width: 100%;
  top: 0;
}

div.cesium-timeline-bar {
  background: none;
  @include bg-base;
}

div.cesium-viewer-toolbar {
  top: 32px;
}

div.cesium-viewer-bottom {
  top: 32px !important;
  left: 8px !important;
  bottom: unset !important;

  img {
    width: 100px;
  }
}

.cesium-viewer div.cesium-widget-credits {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.cesium-timeline-main {
  border: none;
}
