$xs: 378px;
$lg: 1252px;

@mixin property($variable: variable, $syntax: '<number>', $inherits: true, $initial-value: 0) {
  @property --#{$variable} {
    syntax: $syntax;
    inherits: $inherits;
    initial-value: $initial-value;
  }
}
