.dropdown-trigger {
  &[data-state='open'] > svg {
    transform: rotate(-180deg);
  }

  > svg {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
}

.dropdown-content {
  border-radius: var(--rounded-xs);
  border: 1px solid rgba(var(--base-200), 0.4);
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  overflow: hidden;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 120px;
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  &[data-state='open'] {
    animation: scaleIn 150ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &[data-state='closed'] {
    animation: scaleOut 150ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.dropdown-item {
  font-size: var(--text-sm);
  padding: var(--padding-xs);
  user-select: none;
  outline: none;
  display: block;
  transition: background-color 150ms;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus-visible {
    outline: none;
  }

  &[data-highlighted] {
    background-color: rgba(var(--base-200), 0.8);
  }
}
