/* ==========================================================================
   INPUTS
   ========================================================================== */

@mixin input {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-size: var(--text-sm);
  border-radius: var(--rounded-xs);
  padding: var(--padding-sm);

  &::placeholder {
    color: rgba(var(--base-300));
    opacity: 1;
  }
}

.search {
  position: relative;

  > input {
    @include input;
    width: 100%;
    padding-right: 40px;
    transition: box-shadow 100ms;
    text-overflow: ellipsis;
    box-shadow: inset 0 0 0 1px rgba(var(--base-300));

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 2px rgba(var(--primary-300));
    }

    @media screen and (max-width: $md) {
      font-size: var(--text-base);
    }
  }

  > svg {
    height: 20px;
    margin-right: 12px;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

[cmdk-list] {
  position: absolute;
  width: calc(100% - (var(--padding-base) * 2));
  border-radius: var(--rounded-xs);
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 200ms ease;
  transition-property: height;
  height: calc(var(--cmdk-list-height));
  max-height: min(520px, calc(74vh - 78px));
  overflow: scroll;
  font-size: var(--text-sm);

  &.hide {
    height: 0;
  }

  @media screen and (max-width: $md) {
    position: relative;
    margin-top: 4px;
    height: 240px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
    font-size: var(--text-base);

    &.hide {
      height: 240px;
    }
  }
}

[cmdk-item] {
  padding: var(--padding-xs);
  outline: none;
  transition: background-color 150ms;

  @media screen and (max-width: $md) {
    border-radius: var(--rounded-xs);
  }

  &[data-selected='true'] {
    background-color: rgba(var(--base-200), 0.8);
  }
}

[cmdk-empty] {
  padding: var(--padding-xs);
}

.select-trigger {
  @include btn;
  font-size: var(--text-sm);
  background: transparent;
  color: inherit;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(var(--base-300));
  border-radius: var(--rounded-xs);
  transition:
    width 200ms,
    box-shadow 100ms;
  overflow: clip;
  height: max-content;

  @media screen and (max-width: $xs) {
    min-width: 100%;
    max-width: 100%;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px rgba(var(--primary-300));
  }
}

.select-trigger-content {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
  text-align: left;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs) var(--padding-sm);

  @media screen and (max-width: $xs) {
    width: 100%;
    text-wrap: wrap;
  }

  > svg {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 6px;
  }
}

.select-content {
  border-radius: var(--rounded-xs);
  overflow: hidden;
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: var(--text-sm);
  transform-origin: var(--radix-select-content-transform-origin);
}

.select-content[data-state='open'] {
  animation: scaleIn 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select-content[data-state='closed'] {
  animation: scaleOut 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select-item {
  padding: var(--padding-xs);
  outline: none;
  transition: background-color 150ms;
}

.select-item[data-highlighted] {
  background-color: rgba(var(--base-200), 0.8);
}
