/* ==========================================================================
   LOADING MODAL
   Contain styles for the loading screen.
   ========================================================================== */

#loading-modal {
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms;
  flex-direction: column;
  gap: 8px;
}

#loading-modal.close {
  opacity: 0;
}
