/* ==========================================================================
   MENU
   ========================================================================== */

.active-indicator {
  margin-left: auto;
  border-radius: var(--radius-2xl);
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-green-700);
  transform: scale(0);
  opacity: 0;
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  margin-right: 4px;

  @media screen and (max-width: $lg) {
    margin-right: 8px;
  }

  body.reduce-motion & {
    transform: scale(1);
  }

  &.show {
    transform: scale(1);
    opacity: 1;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1;
  }
}
