/* ==========================================================================
   MENU
   ========================================================================== */

@media screen and (max-width: $lg) {
  .scroll-area-viewport:has(.menubar-content-body) {
    .menu-bottom & {
      max-height: 46vh;
    }
  }
}

.menubar-content-footer {
  padding-top: var(--padding-sm);
  margin-top: auto;
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-sm);
  color: var(--color-muted-foreground);

  button {
    transition: color 150ms;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      color: var(--color-foreground);
    }

    > svg {
      height: 1.25rem;
      width: auto;
    }
  }

  .footer-link {
    display: flex;
    text-align: left;

    > svg {
      flex-shrink: 0;
      height: 1rem;
    }
  }
}

.menu-list {
  display: flex;
  flex-direction: column;

  > .menu-list-title {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    color: var(--color-muted-foreground);
    font-size: var(--text-sm);
    font-weight: 600;
  }

  .menu-link {
    @include btn;

    font-size: var(--text-sm);
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    position: relative;
    transition: color 200ms;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;

    &:hover,
    &:active,
    &.active {
      color: var(--color-primary-light);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      transform: translateY(-50%) scaleY(0);
      transform-origin: left;
      height: 20px;
      background-color: var(--color-primary-light);
      border-radius: 0 var(--radius-2xl) var(--radius-2xl) 0;
      transition:
        opacity 200ms,
        transform 200ms;
      opacity: 0;

      body.reduce-motion & {
        transform: translateY(-50%) scaleY(1);
      }
    }

    &.active::before {
      opacity: 1;
      width: 4px;
      transform: translateY(-50%) scaleY(1);
    }

    > svg {
      margin-right: 8px;
    }

    &.vertical {
      flex-direction: column;
      gap: 4px;
      padding-left: 0;
      padding-right: 0;
      padding-top: calc(var(--padding-xs) + 2px);
      padding-bottom: var(--padding-xs);
      height: auto;

      &.active::before {
        transform: translateY(-50%) scaleX(1);
      }
    }

    &.vertical::before {
      top: unset;
      left: unset;
      bottom: -2px;
      height: 4px;
      width: 32px;
      transform: translateY(-50%) scaleX(0);
      transform-origin: bottom;
      border-radius: var(--radius-2xl) var(--radius-2xl) 0 0;

      body.reduce-motion & {
        transform: translateY(-50%) scaleX(1);
      }
    }

    &.vertical > svg {
      margin-right: 0;
    }

    &.vertical > span {
      font-size: var(--text-xs);
      font-weight: 600;
    }

    &.vertical .active-indicator {
      position: absolute;
      top: 4px;
      left: 0;
    }
  }

  @media screen and (max-width: $lg) {
    > button:not(:first-child) {
      @include btn-lg;
    }

    .menu-link,
    > .menu-list-title {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.active-indicator {
  margin-left: auto;
  border-radius: var(--radius-2xl);
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-green-700);
  transform: scale(0);
  opacity: 0;
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  margin-right: 4px;

  @media screen and (max-width: $lg) {
    margin-right: 8px;
  }

  body.reduce-motion & {
    transform: scale(1);
  }

  &.show {
    transform: scale(1);
    opacity: 1;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1;
  }
}
