/* ==========================================================================
   POPOVER
   ========================================================================== */

.popover-content {
  z-index: 2;
  transform-origin: var(--radix-popover-content-transform-origin);
}

.popover-content[data-state='open'] {
  animation: scaleIn 150ms var(--ease-in-out-cubic);

  body.reduce-motion & {
    animation: none;
  }
}

.popover-content[data-state='closed'] {
  animation: scaleOut 150ms var(--ease-in-out-cubic);

  body.reduce-motion & {
    animation: none;
  }
}
