/* ==========================================================================
   POPOVER
   ========================================================================== */

.popover-content {
  transform-origin: var(--radix-popover-content-transform-origin);
}

.popover-content[data-state='open'] {
  animation: scaleIn 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popover-content[data-state='closed'] {
  animation: scaleOut 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
