/* ==========================================================================
   PRIMITIVES
   Contain styles for components in the primitive folder, such as
   AutoHeight and ScrollContainer
   ========================================================================== */

// Force react-animate-height to animate unless
// reduced motion setting is toggled on
.rah-animating {
  body.reduce-motion & {
    transition: none !important;
  }
  transition: height 300ms ease !important;
}

.auto-height-container {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: var(--content-gap);
  }
}

.img-wrapper {
  overflow: hidden;
  border-radius: var(--radius-2xl);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-container {
  position: relative;
  height: 100%;

  img,
  .img-container__caption {
    opacity: 0;
    transition: opacity 150ms;
  }
}

.img-container--loaded {
  img,
  .img-container__caption {
    opacity: 1;
  }
}
