div.tippy-box {
  @include bg-base;
  border-radius: var(--radius-lg);
}

.tooltip {
  @include bg-base;
  font-size: var(--text-sm);
  border-radius: var(--radius-lg);
  padding: 4px var(--padding-xs);
}
