/* ==========================================================================
   TOOLBAR
   ========================================================================== */

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: calc(8px + var(--bottom-bar-height));
  padding: 0 var(--container-x-offset);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  pointer-events: none;

  > .toolbar__section {
    display: flex;
    gap: 6px;
  }

  .toolbar-btn {
    @include btn;
    @include btn-xl-square;
    transition: background-color 150ms;
    pointer-events: auto;

    &:hover {
      background-color: rgba(var(--base-100), 1);
    }
  }
}

@media screen and (max-height: 578px) and (min-width: 879px) {
  #screenshot-btn {
    display: none;
  }
}

@media screen and (max-width: $lg) {
  .toolbar > .toolbar__section {
    flex-direction: column;
  }
}

@media screen and (max-width: 656px) {
  .toolbar {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 var(--padding-xs);
    bottom: calc(72px + var(--bottom-bar-height));

    > .toolbar__section {
      flex-direction: row;
    }
  }
}

#map-picker {
  > .map-picker__item {
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: var(--text-xs);
    line-height: 0.875rem;
    font-weight: 600;
    text-align: center;
    width: 60px;
    transition: color 150ms;

    > * {
      border: 2px solid transparent;
      transition: border 150ms;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: var(--radius-xl);
    }
  }

  .map-picker__item--active {
    color: var(--color-blue-400);

    > * {
      border: 2px solid var(--color-blue-400);
    }
  }
}
