/* ==========================================================================
   UTILITIES
   ========================================================================== */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (min-width: calc($sm + 1px)) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: calc($md + 1px)) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (max-width: $sm) {
  .show-sm {
    display: none !important;
  }
}

@media screen and (max-width: $md) {
  .show-md {
    display: none !important;
  }
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  height: 1rem;
  white-space: nowrap;

  &::before,
  &::after {
    height: 1px;
    width: 100%;
    flex-grow: 1;
    background-color: rgba(var(--base-300), 0.6);
    content: '';
  }

  &:not(:empty) {
    gap: 0.5rem;
  }
}

.divider-horizontal {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 1rem;
  flex-direction: column;

  &::before,
  &::after {
    height: 100%;
    width: 1px;
  }
}
