/* ==========================================================================
   UTILITIES
   ========================================================================== */

@media screen and (min-width: calc($sm + 1px)) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: calc($md + 1px)) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (max-width: $sm) {
  .show-sm {
    display: none !important;
  } 
}

@media screen and (max-width: $md) {
  .show-md {
    display: none !important;
  } 
}