.menubar-content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);

  h2 {
    line-height: 1.75rem;
  }

  > button {
    @apply btn btn-secondary btn-square btn-sm;
    border-radius: 100%;
    flex-shrink: 0;
    margin-left: 8px;
    align-self: self-start;
  }
}
