.modal__overlay {
  backdrop-filter: saturate(120%) blur(8px);
  position: fixed;
  inset: 0;
  z-index: 99999;

  &[data-state='open'] {
    animation: fadeIn 150ms var(--ease-in-out-sine);

    body.reduce-motion & {
      animation: none;
    }
  }

  &[data-state='closed'] {
    animation: fadeOut 150ms var(--ease-in-out-sine);

    body.reduce-motion & {
      animation: none;
    }
  }
}

.modal__content {
  @apply bg-base;
  z-index: 99999;
  border-radius: var(--radius-2xl);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 480px;
  max-height: 85vh;
  padding: var(--padding-xl);

  .modal__content__description {
    div {
      margin-top: 4px;
    }
  }

  > * + * {
    margin-top: 12px;
  }

  &[data-state='open'] {
    animation: contentShow 150ms var(--ease-in-out-sine);

    body.reduce-motion & {
      animation: none;
    }
  }

  &[data-state='closed'] {
    animation: contentHide 150ms var(--ease-in-out-sine);

    body.reduce-motion & {
      animation: none;
    }
  }

  h3 {
    margin-top: 20px;
  }
}

.modal__content:focus {
  outline: none;
}
