/* ==========================================================================
   NOTIFICATIONS
   Contain styles for notifications.
   ========================================================================== */

div.notification {
  color: inherit;
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--radius-lg);
  font-size: var(--text-sm);
  gap: 6px;

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  > div[role='status'] {
    margin: 0 2px;
  }

  body.reduce-motion & {
    animation: none !important;
  }
}

div.notification.notification--danger {
  background-color: rgba(129, 27, 27, 0.84);
}

#construction {
  color: inherit;
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--radius-lg);
  font-size: var(--text-sm);
  gap: 6px;
  text-decoration: none;
  color: #fadf63;
  transition: background-color 150ms;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: rgba(var(--base-100), 1);
  }
}
