/* 
  Force react-animate-height to animate unless 
  reduced motion setting is toggled on 
*/
.rah-animating {
  body.reduce-motion & {
    transition: none !important;
  }
  transition: height 300ms ease !important;
}

.auto-height-container {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: var(--content-gap);
  }
}
