/* 
  Force react-animate-height to animate unless 
  reduced motion setting is toggled on 
*/
.rah-animating {
  body.reduce-motion & {
    transition: none !important;
  }
  transition: height 300ms ease !important;
}

/* For modals */
@utility modal__overlay {
  backdrop-filter: saturate(120%) blur(8px);
  position: fixed;
  inset: 0;
  z-index: var(--modal-z);

  &[data-state='open'] {
    animation: fadeIn 150ms var(--ease-in-out-sine);
  }

  &[data-state='closed'] {
    animation: fadeOut 150ms var(--ease-in-out-sine);
  }

  body.reduce-motion & {
    animation: none;
  }
}

@utility modal__content {
  @apply bg-base;
  z-index: var(--modal-z);
  border-radius: var(--radius-2xl);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 480px;
  max-height: 85vh;
  padding: var(--padding-xl);

  > * + * {
    margin-top: 12px;
  }

  &[data-state='open'] {
    animation: contentShow 150ms var(--ease-in-out-sine);
  }

  &[data-state='closed'] {
    animation: contentHide 150ms var(--ease-in-out-sine);
  }

  body.reduce-motion & {
    animation: none;
  }

  h3 {
    margin-top: 20px;
  }

  &:focus {
    outline: none;
  }
}
