.select-trigger {
  @apply btn btn-sm min-w-full xs:min-w-0;
  border: 1px solid var(--color-muted-foreground);
  background: transparent;
  border-radius: var(--radius-lg);
  transition:
    width 200ms,
    box-shadow 100ms;
  overflow: clip;
  height: max-content;

  &[data-state='open'] .select-icon {
    transform: rotate(-180deg);
  }

  .select-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 6px;
    transition: transform 150ms var(--ease-in-out-sine);

    body.reduce-motion & {
      transition: none;
    }
  }

  body.reduce-motion & {
    transition: box-shadow 100ms;
  }
}

.select-trigger-content {
  @apply min-w-0 py-2 px-0 w-full xs:min-w-max xs:pl-3 xs:pr-2.5 xs:w-auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  > * + * {
    flex-shrink: 0;
  }
}

.select-content {
  @apply dropdown-base w-(--radix-select-trigger-width) xs:w-auto;

  font-size: var(--text-sm);
  overflow: hidden;
  transform-origin: var(--radix-select-content-transform-origin);
}

.select-content[data-state='open'] {
  animation: scaleIn 150ms var(--ease-in-out-cubic);

  body.reduce-motion & {
    animation: none;
  }
}

.select-content[data-state='closed'] {
  animation: scaleOut 150ms var(--ease-in-out-cubic);

  body.reduce-motion & {
    animation: none;
  }
}

.select-item {
  padding: var(--padding-xs);
  outline: none;
  user-select: none;
  transition: background-color 150ms;
}

.select-item[data-highlighted] {
  background-color: --alpha(var(--color-background-light) / 80%);
}
