:root {
  --bg-color: 245, 245, 245;
  --text-color: 28, 28, 28;
  --link-color: 24, 51, 139;
  --link-color--hover: 52, 108, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 28, 28, 28;
    --text-color: 245, 245, 245;
    --link-color: 96, 165, 250;
  }
}

body {
  font-size: var(--text-base);
  color: rgba(var(--text-color));
  background-color: rgba(var(--bg-color));
}

h1,
h2 {
  font-family: 'Figtree Variable', system-ui, sans-serif;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

p {
  line-height: var(--text-3xl);
}

a {
  color: rgba(var(--link-color));
  transition: color 150ms;

  &:hover {
    color: rgba(var(--link-color--hover));
  }
}

main {
  max-width: 768px;
  padding: 0 var(--padding-base);
  margin: 0 auto;
}
