body,
html {
  font-size: var(--text-base);
}

h1,
h2 {
  font-family: 'Figtree Variable', system-ui, sans-serif;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

p {
  line-height: var(--text-3xl);
}

main {
  max-width: 768px;
  padding: 0 var(--padding-base);
  margin: 0 auto;
}
