@import 'tailwindcss';
@source "./partials/*.scss"; /* TODO: Remove this when migration is complete */
@import './animations.css';
@import './radix/popover.css';
@import './partials/tooltip.css';
@import './partials/notifications.css';
@import './partials/dropdown.css';
@import './partials/cesium.css';
@import './partials/modal.css';

@theme {
  --font-sans: 'Inter Variable', system-ui, sans-serif;
  --font-title: 'Figtree Variable', system-ui, sans-serif;

  --text-2_5xl: 1.375rem;
  --radius-2_5xl: 1.25rem;

  --breakpoint-*: initial;
  --breakpoint-xs: 378px;
  --breakpoint-sm: 448px;
  --breakpoint-md: 878px;
  --breakpoint-lg: 1252px;

  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

  --color-background: oklch(0.23 0.0019 286.25);
  --color-background-light: oklch(0.45 0.0016 286.33);
  --color-foreground: oklch(0.97 0 0);

  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primary-light: oklch(70.7% 0.165 254.624);
  --color-primary-foreground: oklch(97% 0.014 254.604);
}

:root {
  --bottom-bar-height: 28px;
}

@layer base {
  * {
    font-family: var(--font-sans);
  }

  body,
  html {
    color: var(--color-foreground);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-semibold);
  }

  h1,
  h2 {
    font-family: var(--font-title);
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-2_5xl);
  }

  mark {
    font-weight: var(--font-weight-bold);
    color: currentColor;
    background-color: transparent;
  }

  kbd {
    font-size: var(--text-sm);
    background: --alpha(var(--color-background) / 80%);
    margin: 1px 4px;
    box-shadow: 0 0 0 1px rgba(var(--base-300), 0.6);
    padding: 0 var(--padding-xs);
    border-radius: 4px;
    display: inline-block;
    text-align: center;
  }
}

@utility bg-base {
  background-color: --alpha(var(--color-background) / 80%);
  backdrop-filter: saturate(140%) blur(4px);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

@utility dropdown-base {
  border: 1px solid --alpha(var(--color-background-light) / 40%);
  border-radius: var(--radius-lg);
  backdrop-filter: saturate(120%) blur(8px);
  background-color: --alpha(var(--color-background) / 70%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: 10;
}
