@import 'tailwindcss';

@theme {
  --font-body: 'Inter Variable', system-ui, sans-serif;
  --font-title: 'Figtree Variable', system-ui, sans-serif;
}

@layer base {
  * {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-semibold);
  }

  h1,
  h2 {
    font-family: var(--font-title);
  }
}
