@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Inter Variable', system-ui, sans-serif;
  --font-title: 'Figtree Variable', system-ui, sans-serif;

  --color-accent-50: var(--color-blue-200);
  --color-accent-100: var(--color-blue-300);
  --color-accent-200: var(--color-blue-400);
  --color-accent-300: var(--color-blue-500);
  --color-accent-400: var(--color-blue-600);
  --color-accent-500: var(--color-blue-700);
  --color-accent-600: var(--color-blue-800);
  --color-accent-700: var(--color-blue-900);
  --color-accent-800: var(--color-blue-900);
  --color-accent-900: var(--color-blue-950);
  --color-accent-950: var(--color-blue-950);

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);
}

@custom-variant open {
  &:where([data-state='open'] *) {
    @slot;
  }
}

@custom-variant close {
  &:where([data-state='closed'] *) {
    @slot;
  }
}

@layer base {
  a {
    transition-property: color;
    transition-duration: 100ms;
  }
}

@layer components {
  a.external::after {
    content: ' ↗';
    display: inline-block;
    margin-left: calc(--spacing(1) - 1px);
    color: var(--sl-color-gray-3);
    font-size: var(--text-sm);
  }

  a.external:hover::after {
    transform: translate(1px, -1px);
  }

  .header,
  .sidebar-pane,
  .right-sidebar,
  .social-icons::after,
  .content-panel {
    border: none;
  }

  .starlight-aside {
    border: 1px solid var(--sl-color-asides-border);
    border-radius: 0.5rem;
    padding: --spacing(5) --spacing(6);
  }
}
