:root {
  --base-content-100: #f5f5f5;
  --base-content-200: #a9a9a9;
  --base-bg: rgba(33, 33, 33, 0.74);
  --primary-100: #60a5fa;
  --primary-200: #1d4ed8;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 1.75rem;
  --padding-base: 16px;
  --rounded-base: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Inter Variable', system-ui, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--base-content-100);
  margin: 0;
  font-weight: 600;
  font-family: 'IBM Plex Sans';
}

p {
  color: var(--base-content-100);
  margin: 0;
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}
