@mixin nav-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;

  > * + * {
    margin-left: 8px;
  }
}

@mixin nav-content {
  background-color: var(--base-bg-200);
  color: var(--base-content-100);
  backdrop-filter: saturate(150%) blur(4px);
  -webkit-backdrop-filter: saturate(150%) blur(4px);
  border-radius: var(--rounded-base);
  padding: var(--padding-base);
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 20px;
  }
}

.left-container {
  @include nav-container();
  left: 24px;
  height: 70vh;
  max-height: 1000px;
}

.right-container {
  @include nav-container;
  right: 24px;
  height: 36vh;
  max-height: 600px;
}

.left-nav {
  @include nav-content;
  width: 218px;
  padding-left: 0;
  padding-right: 0;
}

.right-nav {
  @include nav-content;
  width: 188px;
  padding-left: 0;
  padding-right: 0;
}

.panel {
  @include nav-content;
  width: 408px;

  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: start;

    > button {
      flex-shrink: 0;
      height: 32px;
      width: 32px;
      padding: 8px;
      border: none;
      border-radius: 100%;
      background-color: var(--base-bg-100);
      color: var(--base-content-100);
      backdrop-filter: saturate(120%) blur(4px);
      -webkit-backdrop-filter: saturate(120%) blur(4px);
      cursor: pointer;
      transition: background-color 150ms;

      &:hover {
        background-color: var(--base-content-300);
      }
    }
  }
}

.searchbar {
  position: relative;

  > input {
    width: 100%;
    outline: none;
    padding: 12px 40px 12px 12px;
    background: none;
    color: inherit;
    border: 1px solid var(--base-content-200);
    border-radius: 8px;
    font-size: var(--text-sm);
    transition: background-color 150ms;

    &::placeholder {
      color: var(--base-content-200);
      opacity: 1;
    }

    &:focus, &:hover {
      background-color: var(--base-content-400);
    }
  }

  > svg {
    height: 20px;
    position: absolute;
    margin-right: 12px;
    right: 0px;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
  }
}

.nav-header {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}

.nav-body {
  overflow-y: scroll;

  > * + * {
    margin-top: 20px;
  }
}

.nav-group {
  display: flex;
  flex-direction: column;

  > div:first-child {
    padding-left: var(--padding-base);
    color: var(--base-content-200);
    font-weight: 600;
    font-size: var(--text-sm);
  }

  > button {
    position: relative;
    font-size: var(--text-sm);
    padding: 8px var(--padding-base);
    background-color: transparent;
    border: none;
    color: var(--base-content-100);
    text-align: left;
    cursor: pointer;
    transition: color 200ms;
    align-items: center;
    display: flex;

    &:hover,
    &.active {
      color: var(--primary-100);
    }

    &::before {
      content: '';
      background-color: var(--primary-100);
      width: 4px;
      height: 20px;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      transform: translateY(-50%);
      border-radius: 0 20px 20px 0;
      transition: opacity 200ms;
      opacity: 0;
    }

    &.active::before {
      opacity: 1;
    }

    > svg {
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
  }
}

.nav-footer {
  padding-top: 16px;
  margin-top: auto;
}
