.nav-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
}

.nav-container > * + * {
  margin-left: 8px;
}

.nav-container.left-container {
  left: 24px;
  height: 80vh;
  max-height: 1000px;
}

.nav-content {
  background-color: var(--base-bg-200);
  color: var(--base-content-100);
  backdrop-filter: saturate(150%) blur(4px);
  -webkit-backdrop-filter: saturate(150%) blur(4px);
  border-radius: var(--rounded-base);
  padding: var(--padding-base);
  display: flex;
  flex-direction: column;
}

.nav-content > * + *,
.nav-body > * + * {
  margin-top: 20px;
}

.nav-content.left-nav {
  width: 218px;
  padding-left: 0;
  padding-right: 0;
}

.nav-content.left-nav > .nav-header {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}

.searchbar {
  width: 100%;
  outline: none;
  padding: 12px;
  background: none;
  color: inherit;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: var(--text-sm);
}

.panel {
  width: 408px;
}

.panel > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.panel > div:first-child > button {
  height: 32px;
  width: 32px;
  padding: 8px;
  border: none;
  border-radius: 100%;
  background-color: var(--base-bg-100);
  color: var(--base-content-100);
  backdrop-filter: saturate(120%) blur(4px);
  -webkit-backdrop-filter: saturate(120%) blur(4px);
  cursor: pointer;
}

.nav-body {
  overflow-y: scroll;
}

.nav-footer {
  padding-top: 16px;
  margin-top: auto;
}

.nav-group {
  display: flex;
  flex-direction: column;
}

.nav-group > div:first-child {
  padding-left: var(--padding-base);
  color: var(--base-content-200);
  font-weight: 600;
  font-size: var(--text-sm);
}

.nav-group > button {
  position: relative;
  font-size: var(--text-sm);
  padding: 8px var(--padding-base);
  background-color: transparent;
  border: none;
  color: var(--base-content-100);
  text-align: left;
  cursor: pointer;
  transition: color 250ms;
  align-items: center;
  display: flex;
}

.nav-group > button > svg {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.nav-group > button:hover,
.nav-group > button.active {
  color: var(--primary-100);
}

.nav-group > button::before {
  content: '';
  background-color: var(--primary-100);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
  transition: opacity 250ms;
  opacity: 0;
}

.nav-group > button.active::before {
  opacity: 1;
}
