@import 'src/styles/partials/base';
@import 'src/styles/partials/utils';
@import 'src/styles/partials/buttons';
@import 'src/styles/partials/menu';
@import 'src/styles/partials/inputs';
@import 'src/styles/partials/cesium';
@import 'src/styles/partials/popover';
@import 'src/styles/partials/toolbar';
@import 'src/styles/partials/tooltip';
@import 'src/styles/partials/loading-modal';
@import 'src/styles/partials/alert';

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}
