@import 'src/styles/partials/base';
@import 'src/styles/partials/animations';
@import 'src/styles/partials/utils';
@import 'src/styles/partials/buttons';
@import 'src/styles/partials/menu';
@import 'src/styles/partials/inputs';
@import 'src/styles/partials/cesium';
@import 'src/styles/partials/popover';
@import 'src/styles/partials/toolbar';
@import 'src/styles/partials/tooltip';
@import 'src/styles/partials/loading-modal';
@import 'src/styles/partials/alert';
@import 'src/styles/partials/bottom-bar';

.DropdownMenuContent {
  border-radius: var(--rounded-xs);
  overflow: hidden;
  border: 1px solid rgba(var(--base-200), 0.4);
  backdrop-filter: saturate(120%) blur(6px);
  background-color: rgba(var(--base-100), 0.7);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 120px;
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

.DropdownMenuContent[data-state='open'] {
  animation: scaleIn 150ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.DropdownMenuContent[data-state='closed'] {
  animation: scaleOut 150ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.DropdownMenuItem {
  font-size: var(--font-sm);
  padding: var(--padding-xs);
  user-select: none;
  outline: none;
  transition: background-color 150ms;
}

.DropdownMenuItem[data-highlighted] {
  background-color: rgba(var(--base-200), 0.8);
}
