---
import Icons from '../Icons';
---

<button id="help-button" type="button">
  <Icons.Help />
  <span class="sr-only">Help</span>
</button>
<script>
  import tippy from 'tippy.js';

  tippy('#help-button', {
    content: 'Help',
    arrow: false,
  });
</script>
