---
import Icons from '../Icons';
---

<button id="home-button" type="button">
  <Icons.Home />
  <span class="sr-only">Reset view</span>
</button>
<script>
  import tippy from 'tippy.js';

  tippy('#home-button', {
    content: 'Reset view',
    arrow: false,
  });
</script>
