---
import Icons from '../Icons';
---

<button id="home-button" title="Reset view" type="button">
  <Icons.Home />
</button>
<script>
  import tippy from 'tippy.js';

  tippy('#home-button', {
    content: 'Reset view',
    arrow: false,
  });
</script>
