---
import Icons from '../Icons';
import HomeButton from './HomeButton.astro';
import MapPickerButton from './MapPickerButton';
---

<div class="toolbar">
  <div>
    <MapPickerButton client:load />
    <HomeButton />
  </div>
  <div>
    <a class="toolbar-btn" href="tutorials" target="_blank">
      <Icons.Learning />
      <span class="sr-only">Tutorials</span>
    </a>
  </div>
</div>
