---
import CaptureButton from './CaptureButton.astro';
import HomeButton from './HomeButton.astro';
import MapPickerButton from './MapPickerButton';
---

<div class="toolbar">
  <div class="toolbar__section">
    <CaptureButton />
  </div>
  <div class="toolbar__section">
    <MapPickerButton client:load />
    <HomeButton />
  </div>
</div>
