---
import HomeButton from './HomeButton.astro';
import MapPickerButton from './MapPickerButton';
---

<div class="toolbar">
  <MapPickerButton client:load />
  <HomeButton />
</div>
<script>
  import tippy from 'tippy.js';

  tippy('#home-button', {
    content: 'Reset view',
    arrow: false,
  });

  tippy('#map-picker-button', {
    content: 'Map picker',
    arrow: false,
    touch: false,
  });
</script>
