---
import Icons from '../components/Icons';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Page Not Found | NUS Digital Twin" description="Page not found">
  <main>
    <div>
      <Icons.Logo />
    </div>
    <h1>The page you're looking for can't be found.</h1>
    <p>
      Why not check out the <a href="/">NUS Digital Twin</a>?
    </p>
  </main>
</PageLayout>
<style>
  body {
    text-align: center;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100svh;
    max-width: 488px;
  }

  a {
    transition:
      color 150ms,
      transform 300ms;
    display: inline-block;
    text-decoration: none;

    &:hover {
      transform: translateY(-3px);
    }
  }

  h1 {
    font-size: 2rem;
  }

  div {
    svg {
      width: 5rem;
    }
  }
</style>
