---
import Icons from '../components/Icons';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

Astro.response.status = 404;
---

<StarlightPage frontmatter={{ title: 'Page Not Found', template: 'splash' }}>
  This page you're looking for cannot be found. Why not check out <span
    style={{ display: 'inline-block', marginRight: '4px' }}><Icons.Logo height="1rem" width="1rem" /></span
  ><a href="/">NUS Digital Twin</a>?
</StarlightPage>
