---
import Icons from '../components/Icons';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

Astro.response.status = 404;
---

<StarlightPage frontmatter={{ title: 'Page Not Found', template: 'splash' }}>
  The page you're looking for cannot be found. Why not check out
  <span class="mr-0.5 ml-0.5 inline-block">
    <Icons.Logo className="size-4.5" />
  </span>
  <a href="/">NUS Digital Twin</a>?
</StarlightPage>
