---
import Layout from '../layouts/Layout.astro';
import 'cesium/Build/Cesium/Widgets/widgets.css';
---

<style>
  #cesiumContainer {
    height: 100vh;
    max-height: 100%;
  }
</style>

<script>
  window.CESIUM_BASE_URL = '/cesium';

  import { Cartesian3, createOsmBuildingsAsync, Ion, Math as CesiumMath, Terrain, Viewer } from 'cesium';

  Ion.defaultAccessToken = import.meta.env.PUBLIC_CESIUM_TOKEN;

  // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
  const viewer = new Viewer('cesiumContainer', {
    terrain: Terrain.fromWorldTerrain(),
  });

  viewer.camera.flyTo({
    destination: Cartesian3.fromDegrees(103.77468797181078, 1.2967994344936131, 1800),
    orientation: {
      heading: CesiumMath.toRadians(0.0),
      // pitch: CesiumMath.toRadians(-15.0),
    },
  });

  // Add Cesium OSM Buildings, a global 3D buildings layer.
  const buildingTileset = await createOsmBuildingsAsync();
  viewer.scene.primitives.add(buildingTileset);
</script>

<Layout title="This is a Cesium Demo.">
  <div id="cesiumContainer"></div>
</Layout>
