---
import Layout from '../layouts/Layout.astro';
import 'cesium/Build/Cesium/Widgets/widgets.css';
---

<style>
  #cesiumContainer {
    height: 100dvh;
    max-height: 100%;
  }
</style>

<script>
  window.CESIUM_BASE_URL = '/cesium';

  import {
    Cartesian3,
    createOsmBuildingsAsync,
    Ion,
    Math as CesiumMath,
    Terrain,
    Viewer,
    Cesium3DTileStyle,
  } from 'cesium';

  Ion.defaultAccessToken = import.meta.env.PUBLIC_CESIUM_TOKEN;

  // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
  const viewer = new Viewer('cesiumContainer', {
    terrain: Terrain.fromWorldTerrain(),
  });

  var nusView = {
    destination: Cartesian3.fromDegrees(103.77678, 1.28342, 800),
    orientation: {
      heading: CesiumMath.toRadians(0.0),
      pitch: CesiumMath.toRadians(-30.0),
    },
  };

  // Set the home button view
  viewer.homeButton.viewModel.command.beforeExecute.addEventListener(function (commandInfo) {
    viewer.scene.camera.flyTo(nusView);
    commandInfo.cancel = true;
  });

  // Initial view
  viewer.camera.flyTo(nusView);

  // Add Cesium OSM Buildings, a global 3D buildings layer.
  const buildingsTileset = await createOsmBuildingsAsync();
  viewer.scene.primitives.add(buildingsTileset);

  buildingsTileset.style = new Cesium3DTileStyle({
    show: {
      conditions: [
        ["${feature['cesium#longitude']} > 103.78171", false],
        ["${feature['cesium#longitude']} < 103.77022", false],
        ["${feature['cesium#latitude']} < 1.29088", false],
        ["${feature['cesium#latitude']} > 1.30824", false],
      ],
    },
  });
</script>

<Layout title="This is a Cesium Demo.">
  <div id="cesiumContainer"></div>
</Layout>
