---
import Icons from '../components/Icons';
import Layout from '../layouts/Layout.astro';
---

<Layout title="NUS Digital Twin: Tutorials">
  <header>
    <a href="/">
      <Icons.Logo height="1.75rem" width="1.75rem" />
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" height="1.25rem" width="1.25rem" viewBox="0 0 15 15">
      <path
        opacity="0.35"
        fill="currentColor"
        fill-rule="evenodd"
        d="M4.109 14L9.466 1h1.352L5.46 14z"
        clip-rule="evenodd"></path>
    </svg>
    <h1>Tutorials</h1>
  </header>
  <div>
    <iframe
      src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=uC20jdl4GHOh0C2y"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</Layout>
<style>
  body {
    color: #212121;
    background-color: #f5f5f5;
    max-width: 800px;
    padding: 16px 16px;
    margin: 0 auto;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #212121;
      color: #ffffff;
    }

    a {
      color: #0066ff;
    }
  }

  header {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 12px;

    a {
      display: flex;
      align-items: center;
    }

    h1 {
      font-size: 1rem;
    }
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
</style>
