---
import 'cesium/Build/Cesium/Widgets/widgets.css';
---

<script>
  window.CESIUM_BASE_URL = '/cesium';
  Ion.defaultAccessToken = import.meta.env.PUBLIC_CESIUM_TOKEN;

  import {
    activePage,
    activeModel,
    buildingId,
    activeMapLayer,
    activeGISLayer,
    buildingColorSetting,
    isSelectColorByDistance,
    colorByDistancePosition,
    flyToPosition,
    userSettings,
    toastMessage,
  } from '../../store';
  import {
    Cartesian2,
    Cartesian3,
    createOsmBuildingsAsync,
    Ion,
    Math as CesiumMath,
    Terrain,
    Viewer,
    Cesium3DTileStyle,
    ScreenSpaceEventType,
    defined,
    MapboxStyleImageryProvider,
    JulianDate,
    Cesium3DTileset,
    ClippingPlaneCollection,
    ClippingPlane,
    Transforms,
    IonImageryProvider,
    ImageryLayer,
    EllipsoidGeodesic,
    GeoJsonDataSource,
    ClassificationType,
    Color,
    Model,
    HeadingPitchRoll,
    ConstantProperty,
    HeightReference,
    Camera,
    BillboardCollection,
  } from 'cesium';
  import { OSM_DISTANCE_COLORS, OSM_SHOW_CONDITIONS } from './cesiumSceneUtils';
  import type { MapLayers } from '../../types';

  (function initReducedMotion() {
    const isReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`).matches;
    userSettings.setKey('reducedMotion', isReduced);
    isReduced ? document.body.classList.add('reduce-motion') : document.body.classList.remove('reduce-motion');
  })();

  // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
  const viewer = new Viewer('cesiumContainer', {
    terrain: Terrain.fromWorldTerrain(),
    navigationHelpButton: false,
    homeButton: false,
    fullscreenButton: false,
    baseLayerPicker: false,
    sceneModePicker: false,
    animation: false, // Disables the Cesium animation clock
    geocoder: false, // Disables the Cesium search button
    infoBox: false,
    baseLayer: ImageryLayer.fromProviderAsync(IonImageryProvider.fromAssetId(3954), {}), // Default to Sentinel-2 base layer
  });

  const globe = viewer.scene.globe;
  const canvas = viewer.scene.canvas;
  const handler = viewer.screenSpaceEventHandler;

  // Disables double click on GeoJSON to focus
  handler.removeInputAction(ScreenSpaceEventType.LEFT_DOUBLE_CLICK);

  // @ts-ignore: https://community.cesium.com/t/change-timeline-from-utc-to-local-time/11203/7
  viewer.timeline.makeLabel = function (timelineDate: any) {
    const date = JulianDate.toDate(timelineDate);
    const dateFormatter = new Intl.DateTimeFormat('en-SG', {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
      hour: 'numeric',
      minute: 'numeric',
      hour12: false,
    });

    return dateFormatter.format(date);
  };

  // Limit amount to zoom in and out to
  viewer.scene.screenSpaceCameraController.minimumZoomDistance = 100.0;
  viewer.scene.screenSpaceCameraController.maximumZoomDistance = 10000.0;

  const DEFAULT_TILE_CACHE_SIZE = 100;
  globe.tileCacheSize = DEFAULT_TILE_CACHE_SIZE * 1;

  // Simulate loading percentage until map tiles are requested
  const loadingPercentage = document.querySelector('#loading-percentage')!;
  const loadingProgress = document.getElementById('loading-progress')!;
  const offsetPercent = 30;
  (function addLoadPercentUntilOffset() {
    setTimeout(() => {
      const currPercent = Number(loadingPercentage.textContent);
      if (currPercent >= offsetPercent) {
        return;
      }
      const newPercent = currPercent + Math.floor(Math.random() * 3);
      loadingPercentage.textContent = `${newPercent}`;
      loadingProgress.style.transform = `translateX(-${100 - newPercent}%)`;
      addLoadPercentUntilOffset();
    }, 100);
  })();

  const mapboxSatellite = new MapboxStyleImageryProvider({
    styleId: 'satellite-v9',
    accessToken: import.meta.env.PUBLIC_MAPBOX_TOKEN,
  });
  const mapboxDark = new MapboxStyleImageryProvider({
    styleId: 'dark-v11',
    accessToken: import.meta.env.PUBLIC_MAPBOX_TOKEN,
  });
  const mapboxStreet = new MapboxStyleImageryProvider({
    styleId: 'streets-v12',
    accessToken: import.meta.env.PUBLIC_MAPBOX_TOKEN,
  });

  // The displayed map layer is the last layer
  let mapLayerOrder: MapLayers[] = [];

  const addMapLayer = (layer: MapLayers) => {
    mapLayerOrder.unshift(layer);

    switch (layer) {
      case 'satellite':
        viewer.imageryLayers.lowerToBottom(viewer.imageryLayers.addImageryProvider(mapboxSatellite));
        break;
      case 'dark':
        viewer.imageryLayers.lowerToBottom(viewer.imageryLayers.addImageryProvider(mapboxDark));
        break;
      case 'street':
        viewer.imageryLayers.lowerToBottom(viewer.imageryLayers.addImageryProvider(mapboxStreet));
        break;
    }
  };

  const showMapbox = import.meta.env.PROD || import.meta.env.PUBLIC_SHOW_MAPBOX === 'true';
  if (showMapbox) {
    viewer.imageryLayers.removeAll();
    addMapLayer(activeMapLayer.get());
  }

  const position = Cartesian3.fromDegrees(103.77678, 1.28342, 800);

  let nusView = {
    destination: position,
    orientation: {
      heading: CesiumMath.toRadians(0.0),
      pitch: CesiumMath.toRadians(-30.0),
    },
  };
  viewer.camera.setView(nusView);

  document.getElementById('home-btn')!.onclick = () => {
    toastMessage.set({
      msg: 'Resetting view',
      type: 'loading',
    });

    let flyToOptions: {
      destination: Cartesian3;
      orientation?: any;
      duration?: number;
      complete?: Camera.FlightCompleteCallback;
    } = {
      ...nusView,
      complete: () => {
        toastMessage.set({
          msg: 'View has been reset',
          type: 'loaded',
        });
      },
    };

    if (userSettings.get().reducedMotion) {
      flyToOptions['duration'] = 0;
    }

    viewer.camera.flyTo(flyToOptions);
  };

  const osmBuildingsTileset = await createOsmBuildingsAsync();
  osmBuildingsTileset.clippingPlanes = new ClippingPlaneCollection({
    modelMatrix: Transforms.eastNorthUpToFixedFrame(position),
    planes: [
      new ClippingPlane(new Cartesian3(1.0, 0.0, 0.0), 850),
      new ClippingPlane(new Cartesian3(-1.0, 0.0, 0.0), 700),
      new ClippingPlane(new Cartesian3(0.0, 1.0, 0.0), -600),
      new ClippingPlane(new Cartesian3(0.0, -1.0, 0.0), 2800),
    ],
    unionClippingRegions: true,
  });
  osmBuildingsTileset.style = new Cesium3DTileStyle({
    show: { conditions: OSM_SHOW_CONDITIONS },
  });
  osmBuildingsTileset.maximumScreenSpaceError = 0;
  osmBuildingsTileset.preloadWhenHidden = true;
  viewer.scene.primitives.add(osmBuildingsTileset);

  let totalTiles = 0;
  function tileLoadProgressListener(queuedTiles: number) {
    const prevTotalTiles = totalTiles;
    totalTiles = Math.max(totalTiles, queuedTiles);

    if (prevTotalTiles == totalTiles) {
      const currPercent = Number(loadingPercentage.textContent);
      const newPercent = offsetPercent + Math.round(((totalTiles - queuedTiles) / totalTiles) * (100 - offsetPercent));
      if (newPercent > currPercent) {
        loadingPercentage.textContent = `${newPercent}`;
        loadingProgress.style.transform = `translateX(-${100 - newPercent}%)`;
      }
    }

    if (globe.tilesLoaded && osmBuildingsTileset.allTilesLoaded) {
      updateDistanceScale();

      if (showMapbox) {
        if (!mapLayerOrder.includes('dark')) {
          addMapLayer('dark');
        }
        if (!mapLayerOrder.includes('satellite')) {
          addMapLayer('satellite');
        }
        if (!mapLayerOrder.includes('street')) {
          addMapLayer('street');
        }
      }

      // Outer timeout is required for the translate animation to complete
      setTimeout(() => {
        document.getElementById('loading-modal')?.classList.add('close');
        setTimeout(() => {
          document.getElementById('loading-modal')?.remove();
        }, 200);
      }, 350);
      globe.tileLoadProgressEvent.removeEventListener(tileLoadProgressListener);
    }
  }

  globe.tileLoadProgressEvent.addEventListener(tileLoadProgressListener);

  handler.setInputAction(function (movement: any) {
    const pickedFeature = viewer.scene.pick(movement.position);
    if (!defined(pickedFeature)) {
      return;
    }

    if (isSelectColorByDistance.get()) {
      colorByDistance(pickedFeature.getProperty('cesium#latitude'), pickedFeature.getProperty('cesium#longitude'));
      isSelectColorByDistance.set(false);
      return;
    }

    if (pickedFeature.id) {
      switch (true) {
        case buildingFootprintsData.entities.contains(pickedFeature.id):
          break;
        case streetCenterlinesData.entities.contains(pickedFeature.id):
          break;
        case greenSpacesData.entities.contains(pickedFeature.id):
          break;
      }
      return;
    }

    // Disable picking for Rhino Urban Model
    if (pickedFeature.primitive && pickedFeature.primitive.featureIdLabel === 'rhino-urban-model') {
      toastMessage.set({
        msg: 'Selecting individual buildings is unavailable for Rhino (Urban) models',
        type: 'default',
      });
      return;
    }

    activePage.set('building-info');
    buildingId.set(''); // Force the listener on buildingId to trigger

    if (
      pickedFeature.primitive &&
      pickedFeature.primitive.featureIdLabel &&
      pickedFeature.primitive.featureIdLabel !== 'featureId_0'
    ) {
      buildingId.set(pickedFeature.primitive.featureIdLabel);
      return;
    }

    if (bimModels.includes(pickedFeature.primitive)) {
      const resourceUrl = pickedFeature.primitive.resource.url;

      if (resourceUrl.includes(yncId)) {
        buildingId.set('732229050');
      }

      if (resourceUrl.includes(sde4Id)) {
        buildingId.set('628774809');
      }

      return;
    }

    buildingId.set(pickedFeature.getProperty('elementId'));
  }, ScreenSpaceEventType.LEFT_CLICK);

  const geodesic = new EllipsoidGeodesic();
  const distances = [1, 2, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 100, 200, 300, 400, 500, 750, 1000];
  const width = canvas.clientWidth;
  const height = canvas.clientHeight;
  const scaleLabel = document.getElementById('scale-label')!;
  const scaleBar = document.getElementById('scale-bar')!;
  function updateDistanceScale() {
    const left = viewer.scene.camera.getPickRay(new Cartesian2((width / 2) | 0, height - 1));
    const right = viewer.scene.camera.getPickRay(new Cartesian2((1 + width / 2) | 0, height - 1));

    if (!left || !right) {
      return;
    }

    const leftPosition = globe.pick(left, viewer.scene);
    const rightPosition = globe.pick(right, viewer.scene);

    if (!leftPosition || !rightPosition) {
      return;
    }

    const leftCartographic = globe.ellipsoid.cartesianToCartographic(leftPosition);
    const rightCartographic = globe.ellipsoid.cartesianToCartographic(rightPosition);

    geodesic.setEndPoints(leftCartographic, rightCartographic);
    const pixelDistance = geodesic.surfaceDistance;
    // Find the first distance that makes the scale bar less than 100 pixels.
    const maxBarWidth = 100;
    let distance;
    for (let i = distances.length - 1; !defined(distance) && i >= 0; --i) {
      if (distances[i] / pixelDistance < maxBarWidth) {
        distance = distances[i];
      }
    }

    if (defined(distance)) {
      let label;
      if (distance >= 1000) {
        label = (distance / 1000).toString() + ' km';
      } else {
        label = distance.toString() + ' m';
      }

      const barWidth = distance / pixelDistance;
      scaleBar.style.width = barWidth + 'px';
      scaleLabel.textContent = label;
    }
  }

  const sde4Id = 2464285;
  const yncId = 2463878;
  const sde4 = await Cesium3DTileset.fromIonAssetId(sde4Id);
  const ync = await Cesium3DTileset.fromIonAssetId(yncId);
  const bimModels = [sde4, ync];
  for (let i = 0; i < bimModels.length; i++) {
    viewer.scene.primitives.add(bimModels[i]);
    bimModels[i].show = false;
  }

  function showAllBIM() {
    for (let i = 0; i < bimModels.length; i++) {
      bimModels[i].show = true;
    }
  }

  function hideAllBIM() {
    for (let i = 0; i < bimModels.length; i++) {
      bimModels[i].show = false;
    }
  }

  const rhinoUrbanModel = await Cesium3DTileset.fromUrl('/urban/data/tileset.json', {
    show: false,
    featureIdLabel: 'rhino-urban-model',
  });
  viewer.scene.primitives.add(rhinoUrbanModel);

  const rhinoE6 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7730368432, 1.2991728525, 52.20497546),
      new HeadingPitchRoll(CesiumMath.toRadians(155.6), CesiumMath.toRadians(90), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 1.05,
    url: '/e6/e6-rhino.gltf',
    featureIdLabel: '139959760',
  });

  const rhinoE2A = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7713864135, 1.2987547954, 71.4093914346),
      new HeadingPitchRoll(CesiumMath.toRadians(67), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/e2a/e2a-rhino.gltf',
    featureIdLabel: '628777635',
  });

  const rhinoCELC = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7713937579, 1.2969843253, 44.9642791517),
      new HeadingPitchRoll(CesiumMath.toRadians(18.5), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 0.52,
    url: '/celc/celc-rhino.gltf',
    featureIdLabel: '140084916',
  });

  const rhinoPioneerHouse = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7804112385, 1.2902299393, 26.1901156884),
      new HeadingPitchRoll(CesiumMath.toRadians(99.4), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/pioneer-house/pioneer-house-rhino.gltf',
    featureIdLabel: '238932774',
  });
  const rhinoCOM2 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7743124495, 1.2939952856, 37.2996820597),
      new HeadingPitchRoll(CesiumMath.toRadians(-204), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 0.43,
    url: '/com2/com2-rhino.gltf',
    featureIdLabel: '54619699',
  });
  const rhinoPgprBlock1 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7829198753, 1.291489802, 51.2208270602),
      new HeadingPitchRoll(CesiumMath.toRadians(-40), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 0.48,
    url: '/pgpr/pgpr-block1-rhino.gltf',
    featureIdLabel: '238932786',
  });
  const rhinoAS8 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7722692363, 1.296027148, 55.2598169315),
      new HeadingPitchRoll(CesiumMath.toRadians(109.9), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/as8/as8-rhino.gltf',
    featureIdLabel: '54583485',
  });

  const rhinoNUSMuseum = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7724974951, 1.3014554191, 38.705815314),
      new HeadingPitchRoll(CesiumMath.toRadians(19.5), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 1.1,
    url: '/nus-museum/nus-museum-rhino.gltf',
    featureIdLabel: '54583930',
  });

  const rhinoSDE2 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7711425478, 1.297249525, 50.3291321597),
      new HeadingPitchRoll(CesiumMath.toRadians(199), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/sde2/sde2-rhino.gltf',
    featureIdLabel: '140078560',
  });

  const rhinoSDE3 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7703213411, 1.2981575567, 72.1150038858),
      new HeadingPitchRoll(CesiumMath.toRadians(154.7), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    scale: 1.2,
    show: false,
    url: '/sde3/sde3-rhino.gltf',
    featureIdLabel: '140079084',
  });

  const rhinoSDE4 = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7703672003, 1.2968668531, 45.0226349587),
      new HeadingPitchRoll(CesiumMath.toRadians(108.8), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/sde4/sde4-rhino.gltf',
    featureIdLabel: '628774809',
  });

  const rhinoTechnoEdge = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7714223457, 1.2979071911, 58.3863356009),
      new HeadingPitchRoll(CesiumMath.toRadians(233.1), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/techno-edge/techno-edge-rhino.gltf',
    featureIdLabel: '730959512',
  });

  const rhinoUSC = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.775544178, 1.2997341879, 27.7347173989),
      new HeadingPitchRoll(CesiumMath.toRadians(-2.5), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 0.9,
    url: '/usc/usc-rhino.gltf',
    featureIdLabel: '730956214',
  });

  const rhinoTheDeck = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7724884969, 1.2946662859, 65.883810451),
      new HeadingPitchRoll(CesiumMath.toRadians(-28), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 1.4,
    url: '/the-deck/the-deck-rhino.gltf',
    featureIdLabel: '140087193',
  });

  const rhinoSSLS = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7750945264, 1.295625549, 45.8205900698),
      new HeadingPitchRoll(CesiumMath.toRadians(55.6), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/ssls/ssls-rhino.gltf',
    featureIdLabel: '54619730',
  });

  const rhinoKuokFoundationHouse = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7736119902, 1.3003336117, 51.8346518242),
      new HeadingPitchRoll(CesiumMath.toRadians(-25.5), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    scale: 1.52,
    url: '/raffles-hall/kuok-foundation-house-rhino.gltf',
    featureIdLabel: '241265457',
  });

  const rhinoMedicineScienceLibrary = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7817655955, 1.2969427365, 39.6354038487),
      new HeadingPitchRoll(CesiumMath.toRadians(-69.8), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/msl/msl-rhino.gltf',
    featureIdLabel: '141913116',
  });

  const rhinoShearesMain = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7758329693, 1.2914051269, 44.1314822062),
      new HeadingPitchRoll(CesiumMath.toRadians(28.7), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    scale: 1.2,
    show: false,
    url: '/sheares-hall/sheares-main-rhino.gltf',
    featureIdLabel: '639258228',
  });

  const rhinoShearesA = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.775214582, 1.2914901374, 30.437453453),
      new HeadingPitchRoll(CesiumMath.toRadians(111.3), CesiumMath.toRadians(0), CesiumMath.toRadians(90)),
    ),
    scale: 0.4,
    show: false,
    url: '/sheares-hall/sheares-a-rhino.gltf',
    featureIdLabel: '455250294',
  });

  const rhinoRvrcG = await Model.fromGltfAsync({
    modelMatrix: Transforms.headingPitchRollToFixedFrame(
      Cartesian3.fromDegrees(103.7767993479, 1.2974922895, 44.840297406),
      new HeadingPitchRoll(CesiumMath.toRadians(-70.1), CesiumMath.toRadians(0), CesiumMath.toRadians(0)),
    ),
    show: false,
    url: '/rvrc/rvrc-g-rhino.gltf',
    featureIdLabel: '546382548',
  });

  const rhinoLKCMuseum = await Cesium3DTileset.fromIonAssetId(2685876, {
    show: false,
    featureIdLabel: '54619794',
  });

  const rhinoYNCArtsCenter = await Cesium3DTileset.fromIonAssetId(2686261, {
    show: false,
    featureIdLabel: '732229049',
  });

  const rhinoBuildingModels: Array<Model | Cesium3DTileset> = [
    rhinoE2A,
    rhinoE6,
    rhinoCELC,
    rhinoPioneerHouse,
    rhinoNUSMuseum,
    rhinoCOM2,
    rhinoPgprBlock1,
    rhinoAS8,
    rhinoSDE2,
    rhinoSDE3,
    rhinoSDE4,
    rhinoUSC,
    rhinoTheDeck,
    rhinoSSLS,
    rhinoTechnoEdge,
    rhinoKuokFoundationHouse,
    rhinoMedicineScienceLibrary,
    rhinoShearesMain,
    rhinoShearesA,
    rhinoRvrcG,
    rhinoLKCMuseum,
    rhinoYNCArtsCenter,
  ];

  for (const model of rhinoBuildingModels) {
    viewer.scene.primitives.add(model);
  }

  function showRhinoBuildings() {
    for (const model of rhinoBuildingModels) {
      model.show = true;
    }
  }
  function hideRhinoBuildings() {
    for (const model of rhinoBuildingModels) {
      model.show = false;
    }
  }

  function colorByDistance(selectedLatitude: number, selectedLongitude: number) {
    colorByDistancePosition.set({
      latitude: selectedLatitude,
      longitude: selectedLongitude,
    });

    osmBuildingsTileset.style = new Cesium3DTileStyle({
      defines: {
        distance: `distance(vec2(\${feature['cesium#longitude']}, \${feature['cesium#latitude']}), vec2(${selectedLongitude},${selectedLatitude}))`,
      },
      color: { conditions: OSM_DISTANCE_COLORS },
      show: { conditions: OSM_SHOW_CONDITIONS },
    });
  }
  function colorByNone() {
    osmBuildingsTileset.style = new Cesium3DTileStyle({ show: { conditions: OSM_SHOW_CONDITIONS } });
  }

  const buildingFootprintsData = await GeoJsonDataSource.load('/shapefiles/footprints/buildings.json', {
    stroke: Color.fromCssColorString('#0e7490ff'),
    fill: Color.fromCssColorString('#06b6d4cc'),
  });
  const streetCenterlinesData = await GeoJsonDataSource.load('/shapefiles/centerlines/roads.json', {
    stroke: Color.fromCssColorString('#ca8a04ff'),
    clampToGround: true,
  });
  const greenSpacesData = await GeoJsonDataSource.load('/shapefiles/green-spaces/natural.json', {
    stroke: Color.fromCssColorString('#15803dff'),
    fill: Color.fromCssColorString('#22c55ecc'),
  });

  viewer.dataSources.add(buildingFootprintsData);
  viewer.dataSources.add(streetCenterlinesData);
  viewer.dataSources.add(greenSpacesData);

  // Prevent the lines from overlaying on top of 3D tiles
  streetCenterlinesData.entities.values.forEach((entity) => {
    if (entity.polyline) {
      entity.polyline.classificationType = new ConstantProperty(ClassificationType.TERRAIN);
    }
  });

  buildingFootprintsData.entities.values.forEach((entity) => {
    if (entity.polygon) {
      entity.polygon.heightReference = new ConstantProperty(HeightReference.CLAMP_TO_TERRAIN);
    }
  });

  greenSpacesData.entities.values.forEach((entity) => {
    if (entity.polygon) {
      entity.polygon.heightReference = new ConstantProperty(HeightReference.CLAMP_TO_TERRAIN);
    }
  });

  activeGISLayer.subscribe((val) => {
    buildingFootprintsData.show = val.has('building-footprints');
    streetCenterlinesData.show = val.has('street-centerlines');
    greenSpacesData.show = val.has('green-spaces');
  });

  flyToPosition.subscribe((val) => {
    if (!val || !userSettings.get().moveCameraOnSearch) {
      return;
    }

    const position = {
      destination: Cartesian3.fromDegrees(val.longitude, val.latitude - 0.005, 400),
      orientation: {
        heading: CesiumMath.toRadians(0.0),
        pitch: CesiumMath.toRadians(-30.0),
      },
    };

    if (userSettings.get().reducedMotion) {
      viewer.camera.setView(position);
    } else {
      viewer.camera.flyTo(position);
    }
  });

  buildingColorSetting.subscribe((colorSetting) => {
    if (colorSetting === 'distance') {
      const { latitude, longitude } = colorByDistancePosition.get();
      colorByDistance(latitude, longitude);
    } else {
      colorByNone();
    }
  });

  let isFirstCall = true;
  activeModel.subscribe((model) => {
    if (!isFirstCall && model) {
      toastMessage.set({
        msg: 'Loading models',
        type: 'loading',
      });
    }

    const startRender = () => {
      viewer.scene.postRender.addEventListener(endRender);
      viewer.scene.preRender.removeEventListener(startRender);
    };
    const endRender = () => {
      toastMessage.set({
        msg: 'Model loaded',
        type: 'loaded',
      });
      viewer.scene.postRender.removeEventListener(endRender);
    };

    // Allow toast to render first
    setTimeout(
      () => {
        if (!isFirstCall && model) {
          viewer.scene.preRender.addEventListener(startRender);
        }
        osmBuildingsTileset.show = model === 'osm';
        rhinoUrbanModel.show = model === 'rhino-urban';
        model === 'bim' ? showAllBIM() : hideAllBIM();
        model === 'rhino-building' ? showRhinoBuildings() : hideRhinoBuildings();

        isFirstCall = false;
      },
      model ? 100 : 0,
    );
  });

  activeMapLayer.subscribe((selectedMapLayer) => {
    if (!showMapbox) {
      return;
    }

    let hasLoadingToast = false;
    const updateLayer = () => {
      if (mapLayerOrder.indexOf(selectedMapLayer) === -1) {
        toastMessage.set({
          msg: 'Loading map layer',
          type: 'loading',
        });
        hasLoadingToast = true;
        setTimeout(() => updateLayer(), 100);
        return;
      }

      if (hasLoadingToast) {
        toastMessage.set({
          msg: 'Map layer loaded',
          type: 'loaded',
        });
      }

      viewer.imageryLayers.raiseToTop(viewer.imageryLayers.get(mapLayerOrder.indexOf(selectedMapLayer)));
      mapLayerOrder = [...mapLayerOrder.filter((l) => l !== selectedMapLayer), selectedMapLayer];
    };

    updateLayer();
  });

  const pointsOfInterest = new BillboardCollection({
    scene: viewer.scene,
  });
  pointsOfInterest.add({
    position: Cartesian3.fromDegrees(37358317 / 360000, 93311 / 72000),
    image: '../dot.png',
    sizeInMeters: true,
    height: 16,
    width: 16,
    heightReference: HeightReference.CLAMP_TO_GROUND,
  });

  viewer.scene.primitives.add(pointsOfInterest);

  viewer.camera.moveEnd.addEventListener(function () {
    updateDistanceScale();
  });

  userSettings.subscribe(({ reducedMotion }) => {
    reducedMotion ? document.body.classList.add('reduce-motion') : document.body.classList.remove('reduce-motion');
  });

  const LOGO_SIZE = 68;
  const LOGO_MARGIN = 16;
  document.getElementById('screenshot-btn')!.onclick = () => {
    toastMessage.set({
      msg: 'Generating screenshot',
      type: 'loading',
    });
    viewer.resolutionScale = 2.0;
    viewer.scene.render(viewer.clock.currentTime);

    const cesiumImg = document.createElement('img');
    cesiumImg.src = canvas.toDataURL('image/png', 1.0);
    const logoImg = document.createElement('img');
    logoImg.src = '/favicon.png';

    cesiumImg.onload = onImageLoad;
    logoImg.onload = onImageLoad;

    let imagesLoaded = 0;
    function onImageLoad() {
      imagesLoaded++;
      if (imagesLoaded === 2) {
        const imgCanvas = document.createElement('canvas');
        const ctx = imgCanvas.getContext('2d')!;
        imgCanvas.width = cesiumImg.width;
        imgCanvas.height = cesiumImg.height;
        ctx.drawImage(cesiumImg, 0, 0);
        ctx.globalAlpha = 0.7;
        ctx.drawImage(logoImg, LOGO_MARGIN, cesiumImg.height - LOGO_SIZE - LOGO_MARGIN, LOGO_SIZE, LOGO_SIZE);
        ctx.globalAlpha = 1;

        const link = document.createElement('a');
        link.href = imgCanvas.toDataURL('image/png', 1.0);
        link.download = 'NUS Digital Twin';
        link.click();

        toastMessage.set({
          msg: 'Generated screenshot',
          type: 'loaded',
        });
      }
    }

    viewer.resolutionScale = 1.0;
  };
</script>

<div id="cesiumContainer"></div>
<div id="loading-modal">
  <h1>NUS Digital Twin</h1>
  <div>
    <div id="loading-bar">
      <div id="loading-progress"></div>
    </div>
    <div id="loading-text">
      Loading...<span id="loading-percentage">0</span>%
    </div>
  </div>
</div>
