---
import 'cesium/Build/Cesium/Widgets/widgets.css';
---

<style>
  #cesiumContainer {
    height: 100dvh;
    max-height: 100%;
  }
</style>

<script>
  import buildingsData from '../content/buildings/buildings.json';

  window.CESIUM_BASE_URL = '/cesium';

  import { activeMenu, buildingProperties, searchQuery, buildingDataLayer } from '../store';

  import {
    Cartesian3,
    createOsmBuildingsAsync,
    Ion,
    Math as CesiumMath,
    Terrain,
    Viewer,
    Cesium3DTileStyle,
    IonImageryProvider,
    ImageryLayer,
    ScreenSpaceEventType,
    defined,
  } from 'cesium';

  Ion.defaultAccessToken = import.meta.env.PUBLIC_CESIUM_TOKEN;

  // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
  const viewer = new Viewer('cesiumContainer', {
    // TODO: Serve Sentinel-2 base layer to save on bandwidth
    baseLayer: ImageryLayer.fromProviderAsync(IonImageryProvider.fromAssetId(3954), {}),
    terrain: Terrain.fromWorldTerrain(),
    navigationHelpButton: false,
    homeButton: false,
    fullscreenButton: false,
    baseLayerPicker: false,
    sceneModePicker: false,
    animation: false, // Disables the Cesium animation clock
    geocoder: false, // Disables the Cesium search button
  });

  let nusView = {
    destination: Cartesian3.fromDegrees(103.77678, 1.28342, 800),
    orientation: {
      heading: CesiumMath.toRadians(0.0),
      pitch: CesiumMath.toRadians(-30.0),
    },
  };

  // Initial view
  viewer.camera.setView(nusView);

  // Add Cesium OSM Buildings, a global 3D buildings layer.
  const osmBuildingsTileset = await createOsmBuildingsAsync();
  viewer.scene.primitives.add(osmBuildingsTileset);

  osmBuildingsTileset.style = new Cesium3DTileStyle({
    show: {
      conditions: [
        ["${feature['cesium#longitude']} > 103.78171", false],
        ["${feature['cesium#longitude']} < 103.77022", false],
        ["${feature['cesium#latitude']} < 1.29088", false],
        ["${feature['cesium#latitude']} > 1.30824", false],
      ],
    },
  });

  const handler = viewer.screenSpaceEventHandler;
  handler.setInputAction(function (movement: any) {
    const pickedFeature = viewer.scene.pick(movement.position);
    if (!defined(pickedFeature)) {
      return;
    }

    if (defined(pickedFeature)) {
      activeMenu.set('BuildingInfo');
      const featureName = pickedFeature.getProperty('name') || '';
      const featureData = buildingsData.filter((d) => d.name === featureName);

      if (featureData.length > 0) {
        buildingProperties.set(featureData[0]);
      } else {
        buildingProperties.set({ name: featureName });
      }

      searchQuery.set(featureName);
    }
  }, ScreenSpaceEventType.LEFT_CLICK);

  const menu = document.getElementById('menu');
  menu?.addEventListener('click', () => {
    // Timeout is necessary to allow for the state to update first
    setTimeout(() => {
      const showOsmBuildings = buildingDataLayer.get() === 'osm';
      if (showOsmBuildings) {
        osmBuildingsTileset.show = true;
      } else {
        osmBuildingsTileset.show = false;
      }
    });
  });

  const homeButton = document.getElementById('home-button');
  if (homeButton) {
    homeButton.onclick = () => viewer.camera.flyTo(nusView);
  }
</script>

<div id="cesiumContainer"></div>
