---

---

<script>
  import { buildingDataLayer } from '../store';

  buildingDataLayer.subscribe((val) => {
    const toast = document.querySelector<HTMLElement>('.toast')!;

    if (val === '') {
      toast.classList.remove('hide');
      setTimeout(() => (toast.style.opacity = '1'));
    } else {
      toast.style.opacity = '0';
      setTimeout(() => toast.classList.add('hide'), 100);
    }
  });
</script>
<div class="toast hide">Warning: No building models are currently displayed.</div>
