---
import WarningToast from './WarningToast.astro';
---

<div id="notifications-box">
  <a class="notification" href="https://forms.gle/SbtKCbAqF1AKzKhi7" target="_blank" rel="noreferrer" id="construction">
    This application is under construction. Report any issues or feedback here.
  </a>
  <WarningToast />
</div>
