---
import Icons from '../Icons';
---

<script>
  import { activeModel } from '../../store';

  activeModel.subscribe((val) => {
    // TODO: Fix this
    const toast = document.querySelector<HTMLElement>('.notification.notification--danger')!;

    if (val === '') {
      toast.classList.remove('notification--state-hide');
    } else {
      toast.classList.add('notification--state-hide');
    }
  });
</script>
<div class="notification notification--danger notification--state-hide">
  <Icons.Warning />
  <div>No building models selected.</div>
</div>
