---
import PageHeader from '../../components/PageHeader.astro';
import PageLayout from '../../layouts/PageLayout.astro';
---

<PageLayout title="Tutorial Videos" description="Tutorial videos for building models.">
  <main>
    <div>
      <PageHeader title="Tutorial Videos" />
      <h1>Tutorial Videos</h1>
    </div>
    <div>
      <video controls>
        <source src="/tutorials/Daylight Simulation.mp4" type="video/mp4" />
      </video>
    </div>
  </main>
</PageLayout>
<style>
  video {
    width: 100%;
  }
</style>
