---
import PageHeader from '../../components/PageHeader.astro';
import PageLayout from '../../layouts/PageLayout.astro';
---

<PageLayout title="Tutorial Videos" description="Tutorial videos for building models.">
  <main>
    <div>
      <PageHeader title="Tutorial Videos" />
      <h1>Tutorial Videos</h1>
    </div>
    <div>These are tutorial videos.</div>
  </main>
</PageLayout>
