---
import PageHeader from '../../../components/PageHeader.astro';
import PageLayout from '../../../layouts/PageLayout.astro';

let API_ROUTE = Astro.url.pathname;

if (API_ROUTE.endsWith('/')) {
  API_ROUTE = API_ROUTE.slice(0, -1);
}
---

<PageLayout title="API Reference" description="Complete reference documentation for NUS Digital Twin API.">
  <main>
    <div>
      <PageHeader title="API Reference" />
      <h1>NUS Digital Twin API Reference</h1>
      <p>
        The NUS Digital Twin API is currently in <b>beta</b>. The NUS Digital Twin API contains building data used for <a
          href="/">{Astro.site}</a
        >.
      </p>
    </div>
    <div>
      <code>GET <a href=`${API_ROUTE}/buildings`>/buildings</a></code>
    </div>
  </main>
</PageLayout>
