---
import PageLayout from '../../../layouts/PageLayout.astro';
---

<PageLayout title="API | NUS Digital Twin">
  <main>
    <div>
      <h1>NUS Digital Twin API</h1>
      <p>
        The NUS Digital Twin API is currently in <b>beta</b>. The NUS Digital Twin API contains building data used for <a
          href="/">{Astro.site}</a
        >.
      </p>
    </div>
    <div>
      <code>GET <a href="./v1/buildings">/buildings</a></code>
    </div>
  </main>
</PageLayout>
