---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --base-content-100: #f5f5f5;
    --base-content-200: #a9a9a9;
    --base-bg: rgba(33, 33, 33, 0.74);
    --primary-100: #60a5fa;
    --primary-200: #1d4ed8;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: var(--base-content-100);
    margin: 0;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
</style>
